
.input__login-digitando {
    background-image: url('../../imagem/login/icone-user.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 21rem;
}

.input__senha-digitando {
    background-image: url('../../imagem/login/icone-senha.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 21rem;
}