//Cores 
$cor-branco: #FFFFFF;
$cor-vermelho: #C12D18;
$cor-amarelo: #E9B425;
$cor-laranja: #E29933;
$cor-preto: #000000;
$cor-cinza: #222222;
$cor-cinza-claro: #E0E0E0;
$cor-laranja-gradiente: linear-gradient(180deg, #E29933 0%, #C13216 100%);
$cor-preto-gradiente: linear-gradient(180deg, #222222 0%, #000000 100%);
$cor-amarelo-gradiente: linear-gradient(180deg, #E9B425 0%, #E29933 100%);
$cor-cinza-gradiente: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
$cor-vermelho-gradiente: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);

//fonte
$fonte-principal: 'Poppins', sans-serif;
