body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.container__login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.container__login-principal {
  background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
  display: grid;
  justify-content: center;
  align-content: space-evenly;
}

.logo-mobile {
  display: none;
}

.principal__caixa-texto {
  width: 18.8125rem;
}

.container__login-titulo {
  font-size: 3.75rem;
  line-height: 4.75rem;
  color: #E0E0E0;
  padding-bottom: 1.0625rem;
}

.container__login-texto {
  line-height: 1.25rem;
  color: #E0E0E0;
}

.container__login-formulario {
  display: grid;
  grid-template-columns: 23.6875rem 1.25rem;
}

.texto-login {
  font-size: 1.875rem;
  line-height: 2.375rem;
  color: #E0E0E0;
  grid-column: span 2;
}

.formulario-input {
  max-width: 23.6875rem;
  height: 3.75rem;
  border-radius: 3.125rem;
  background-color: transparent;
  border: 0.0625rem solid #FFFFFF;
  margin-top: 32px;
  padding-left: 1.25rem;
  color: #E0E0E0;
  font-size: 1rem;
  padding-right: 2.8125rem;
}

.formulario-input::-moz-placeholder {
  color: #E0E0E0;
}

.formulario-input:-ms-input-placeholder {
  color: #E0E0E0;
}

.formulario-input::placeholder {
  color: #E0E0E0;
}

.login-esconde {
  display: none;
}

.login-formulario-botao {
  width: 23.6875rem;
  height: 4.1875rem;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 3.125rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.4375rem;
  margin-top: 7.1875rem;
  grid-column: span 2;
}

.icone-user {
  transition: 0.7s;
  margin-top: 2rem;
  margin-left: 1.125rem;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("../../imagem/login/icone-user.svg");
  align-self: center;
}

.icone-senha {
  transition: 0.7s;
  margin-top: 2rem;
  margin-left: 1.125rem;
  width: 1.25rem;
  height: 1.5625rem;
  background-image: url("../../imagem/login/icone-senha.svg");
  align-self: center;
}

.container__login-imagem {
  background-image: url("../../imagem/login/background-login.png");
  text-align: center;
}

.imagem-logo {
  margin-top: 2.1875rem;
}

.input__login-digitando {
  transition: 1s;
  background-image: url("../../imagem/login/icone-user.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 21rem;
}

.input__senha-digitando {
  transition: 1s;
  background-image: url("../../imagem/login/icone-senha.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 21rem;
}

.formulario-input__erro {
  border: 1px solid #E9B425;
}

.login-erro {
  color: #E9B425;
  font-weight: 43.75rem;
  line-height: 1.25rem;
  text-align: center;
  margin-top: 1.75rem;
}

.login-formulario-botao-erro {
  margin-top: 2.9375rem;
}

.section-home {
  background: linear-gradient(105.96deg, #FFFFFF 0%, #F0F0F0 97.86%);
  min-height: 100vh;
}

.container-home {
  background-image: url("../../imagem/home/bola-LogoCompasso 1.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: bottom left;
  background-size: 31%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5625rem 2.5rem 0 2.5rem;
  align-items: flex-start;
}

.header__hora-data {
  text-align: center;
}

.header-hora {
  color: #222222;
  font-weight: 700;
  font-size: 9rem;
  line-height: 7.5rem;
}

.header-data {
  color: #222222;
  font-size: 0.875rem;
}

.header__tempo-localizacao {
  color: #222222;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.header__climaTemperaura {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__tempo-previsao {
  width: 2.125rem;
  height: 2.125rem;
}

.header__tempo-temperatura {
  color: #222222;
  font-size: 3rem;
  line-height: 3.8125rem;
  font-weight: 700;
}

.texto__nossaMissao {
  display: grid;
  height: 70%;
  align-content: center;
  justify-items: end;
  padding-right: 8.375rem;
}

.texto__nossaMissao h4 {
  font-size: 2.25rem;
  line-height: 46px;
}

.texto__nossaMissao h3 {
  font-size: 4rem;
  line-height: 5.0625rem;
}

.texto__nossaMissao-destaque {
  font-weight: 700;
  color: #C12D18;
}

.texto__nossaMissao-portugues {
  color: #222222;
  font-size: 1.5rem;
  line-height: 30px;
}

.footer__home {
  width: 100%;
  height: 6.25rem;
  background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.footer__home-texto {
  height: 3.75rem;
  display: flex;
  align-items: center;
  text-align: right;
  width: 33.8125rem;
  color: #FFFFFF;
  font-size: 0.75rem;
  line-height: 15px;
  padding-right: 2.1875rem;
  border-right: 1px solid #FFFFFF;
}

.footer__cronometro {
  display: flex;
  align-items: center;
  margin-right: 23.0625rem;
  margin-left: 7.6875rem;
  text-align: center;
}

.footer__cronometro-texto {
  width: 6.8125rem;
  color: #FFFFFF;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: right;
}

.footer__cronometro-temporizador {
  width: 3.75rem;
  display: grid;
  margin-left: 2.0625rem;
}

.cronometro-numero {
  font-size: 3rem;
  line-height: 3rem;
  color: #FFFFFF;
  font-weight: 700;
}

.cronometro-texto {
  width: 6.0625rem;
  color: #FFFFFF;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
}

.footer__navegacao {
  height: 100%;
  display: flex;
}

.footer__navegacao-link {
  height: 6.25rem;
  width: 8.1875rem;
  text-decoration: none;
  background: #FFFFFF;
  color: #C12D18;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.footer__navegacao-botao {
  width: 8.125rem;
  color: #FFFFFF;
  background-color: transparent;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 6.25rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background: linear-gradient(105.96deg, #FFFFFF 0%, #F0F0F0 97.86%);
  margin: auto;
  padding: 1.25rem;
  border: 1px solid #222222;
  width: 60%;
  border-radius: 2.5rem;
}

.close {
  color: #E0E0E0;
  float: right;
  font-size: 2.5rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.modal__texto {
  margin-top: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 3.75rem;
  text-align: center;
  color: #222222;
}

.modal__botoes {
  margin-top: 3.75rem;
  display: flex;
  justify-content: space-evenly;
}

.modal__botao {
  width: 9.375rem;
  height: 3.125rem;
  border-radius: 1.25rem;
  border: none;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-size: 1.875rem;
}

.botaoLogado {
  background-color: #09AC5E;
}

.botaoSair {
  background-color: #C12D18;
}/*# sourceMappingURL=style.css.map */